@model IEnumerable<SupplierDTO>
@{
    ViewData["Title"] = "SupplierList";
}


@section pageHeader{
    <h2 class="page-title">Supplier List</h2>
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>SUPPLIERS
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> CompanyName</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Adress</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SupplierDTO supplier in Model)
                    {
                    <tr>
                        <td>@supplier.Id </td>
                        <td>@supplier.CompanyName</td>
                        <td>@supplier.City</td>
                        <td>@supplier.Region</td>
                        <td>@supplier.Adress</td>
                        <td>@supplier.Phone</td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="CategoryEdit" asp-route-id="@supplier.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="CategoryDelete" asp-route-id="@supplier.Id">Delete</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
